{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}Mi primer sitio web con Django{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'style/base.css' %}">

    {% block extra_css %}
    {% endblock %}

</head>
<body class="{{ current_theme }}">
    <header>

        {% if user.is_authenticated %}
            <div id="login-form-container">
                <p>Hola, {{ user.username }} | <a href="{% url 'logout' %}">Cerrar sesión</a></p>
            </div>
        {% else %}
            <div id="login-form-container">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit">Iniciar sesión</button>
                </form>
            </div>
        {% endif %}

        {% block header %}
        
        <h1>Mi Sitio Web</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Mensajes</a></li>
                <li><a href="/config">Configuraciones</a></li>
                <li><a href="/admin">Administración</a></li>
            </ul>
        </nav>
        {% endblock %}
    </header>

    <main class="container">
        
        
        {% block content %}
        {% endblock %}

        {% if not user.is_authenticated %}
        <hr>
        <div class="mensajeImportante">
            <!--Existe un usuario de pruebas "prueba" con contraseña "anR34cr1acc.".<br>-->
            Si es tu primera vez en django puedes crear un usuario usando el comando:<br> 
            <b>python manage.py createsuperuser</b><br> 
            Desde la carpeta de proyecto y luego acceder a /admin para crear usuarios.<br>
            Una vez creado el usuario podrás iniciar sesión en el formulario de la cabecera.
        </div>
        {% endif %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy; {% now "Y" %} Mi Proyecto Django. Todos los derechos reservados.</p>
        {% endblock %}
    </footer>

        
       <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script> 
       <script src="{% static 'js/base.js' %}"></script> 
       {% block extra_js %}
       
       {% endblock %}
</body>
</html>