{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Mi Proyecto Django{% endblock %}

{% block content %}
    <section>
        <h2>¡Bienvenido a nuestro sitio web!</h2>
        <p>Esta es la página de inicio. Es un ejemplo de cómo aplicar los conceptos que hemos visto en el curso.</p>
        <p>Estamos utilizando la <b>herencia de plantillas</b> para mantener la misma estructura de cabecera, navegación y pie de página en todo el sitio, gracias al archivo `base.html`.</p>
        
        <div class=center><a href="/contacto" class="button">Formulario de mensajería</a></div>
        <br><br>
        
        <div class="jumbotron">
            <h1>¡Jquery Activo!</h1>
            <p>Haz clic en este recuadro para ver jQuery en acción. Revisa /static/js/inicio.js.</p>
        </div>

    </section>

    <hr>

    <section>
        <h3>Curso de Django. Que hemos visto y aplicado en esta web:</h3>
        <ul>
            <li>Formularios django mediante un <a href='principal/contacto'>formulario de contacto</a>.</li>
            <li>Variables de sesión. Guardar y modificar desde el <a href='principal/config'>formulario de configuraciones</a>.</li>
            <li>Crear y mantener la estructura de templates.</li>
            <li>Crear context_processors para mantener formularios en varios templates.</li>
            <li>Acceso al sistema de usuarios predeterminado por django con un sistema de inicio y cierre de sesión disponible en template base.html.</li>
            <li>Creación de modelos y generación de bases de datos mediante comandos django.</li>
            <li>Mantenimiento de modelos a mediante el <a href='/admin'>/admin</a>.</li>
        </ul>
    </section>
{% endblock %}

{% block extra_css %}

{% endblock %}



{% block extra_js %}
<script src="{% static 'js/inicio.js' %}"></script>    
{% endblock %}
