{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Mi Proyecto Django{% endblock %}

{% block content %}
    <section>
        <h2>¡Has iniciado sesión correctamente!</h2>
        <p>Bienvenido, {{ user.username }}. Ahora puedes acceder a todas las funcionalidades de nuestro sitio.</p>
        <div class=center><a href="/" class="button">Ir al inicio</a></div>
    </section>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/inicio.js' %}"></script>    
{% endblock %}
